/* #root {
  overflow-x: hidden;
  background: #FCF4E7;
} */

@font-face {
  font-family: 'Creato'; 
  src: url('./assets/fonts/creato/CreatoDisplay-Medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato';
  src: url('./assets/fonts/creato/CreatoDisplay-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato';
  src: url('./assets/fonts/creato/CreatoDisplay-ExtraBold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato';
  src: url('./assets/fonts/creato/CreatoDisplay-Black.otf') format('otf');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato';
  src: url('./assets/fonts/creato/CreatoDisplay-BlackItalic.otf') format('otf');
  font-weight: 1200;
  font-style: normal;
  font-display: swap;
}